<div class="container">
  <!-- Card price of premium insurance -->
  <div class="d-flex flex-row">
    <div
      class="card text-white mb-1 center"
      style="background-color: rgb(36, 71, 145); width: 63%;"
    >
      <div class="card-body">
        <p class="card-text alignleft">Premium Insurance</p>
        <p class="card-text alignright">357.00 THB</p>
        <br />
        <div style="clear: both;"></div>

        <p class="card-text1 alignleft">(Switzerland)</p>
        <p class="card-text1 alignright">Per Person</p>
      </div>
    </div>
  </div>

  <!-- Form user detail -->
  <div class="col-lg-8 top1 center1 down">
    <div class="card color">
      <div class="card-header mb-3" style="background-color: rgb(36, 71, 145);">
        <p class="center1 card-text" style="color: white; text-align: center;">
          Traveller
        </p>
      </div>
      <!-- Test -->
      <form [formGroup]="userDetailForm" (ngSubmit)="saveData()">
        <div class="col">
          <div class="form-row">
            <div class="form-group col-md-2"
            >
              <label>Title</label>
              <select class="form-control" formControlName="title">
                <option value="Miss">Miss</option>
                <option value="Mrs">Mrs.</option>
                <option value="Mr">Mr.</option>
              </select>
            </div>
            <div class="form-group col-md-5">
              <label>Firstname</label>
              <input
                type="text"
                class="form-control"
                id=""
                placeholder="Firstname"
                formControlName="firstName"
              />
            </div>
            <div class="form-group col-md-5">
              <label>Lastname</label>
              <input
                type="text"
                class="form-control"
                id=""
                placeholder="Lastname"
                formControlName="lastName"
              />
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label> Citzen ID:</label>
              <input
                type="text"
                class="form-control"
                id=""
                placeholder="CitzenID 13 digits"
                formControlName="citizenId"
              />
            </div>
            <div class="form-group col-md-2">
              <label>Date of birth</label>
              <!-- <br /> -->
              <mat-form-field>
                <!-- <mat-label>Birth date</mat-label> -->
                <input matInput [matDatepicker]="picker1" formControlName="dateOfBirth"/>
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker1"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="form-group col-md-12">
          <label> Beneficially</label>
          <input
          formControlName="beneficially"
            type="text"
            class="form-control"
            id=""
            placeholder="Beneficially"
          />
        </div>

        <div class="col">
          <div class="row">
            <div class="form-group col-md-4">
            </div>
            <div class="col align-self-center">
              <button
                [routerLink]="'/showuserdetail'"
                type="submit"
                class="btn btn-primary"
              >
                Submit
              </button>
              <button (ngSubmit) = "saveData()">
                saveData
              </button>
            </div>
          </div>
        </div>
      <!-- </form> -->
      <!-- Close Header traveller -->
    <!-- </div> -->
  <!-- </div> -->
<!-- </div> -->
