<div class="container">
  <!-- Card price of premium insurance -->
  <div class="d-flex flex-row">
    <div
      class="card text-white mb-1 center"
      style="background-color: rgb(36, 71, 145); width: 63%;"
    >
      <div class="card-body">
        <p class="card-text alignleft">Insurance Premium</p>
        <p class="card-text alignright">
          {{ users.dateDetailValue?.totalPrice | number: "2.2-2" }} THB
        </p>
        <div style="clear: both;"></div>

        <p class="card-text alignleft">
          Duration:
        </p>
        <p class="card-text1 alignleft" style="padding-left: 20px;">
          {{ users.dateDetailValue?.departureDate }} -
          {{ users.dateDetailValue?.arrivalDate }}
        </p>
        <p class="card-text alignright">
          {{ users.dateDetailValue?.duration }} Days
        </p>
        <div style="clear: both;"></div>

        <p class="card-text alignleft">Country</p>
        <p class="card-text alignright">Switzerland</p>
        <div style="clear: both;"></div>
      </div>
    </div>
  </div>
</div>

<!-- Form user detail -->

<div class="col top3">
  <span class="topic" style="padding-left: 24%;">Citizen ID: </span>
  <span class="text-of-topic" style="padding-left: 5%;">
    {{ users.idNumber }}</span
  >
</div>
<div class="col top3">
  <span class="topic" style="padding-left: 24%;">Date of birth: </span>
  <span class="text-of-topic" style="padding-left: 5%;">
    {{ dateofusers }}</span
  >
</div>

<div class="col s">
  <span class="topic pad-left-30">Full name: </span>
  <span class="text-of-topic" style="padding-left: 8%;">
    {{ users.title }}
  </span>
  <span class="pad-left-10 text-of-topic"> {{ users.firstName }}</span>
  <span class="text-of-topic pad-left-10">{{ users.lastName }} </span>
  <div class="col top3">
    <span class="topic" style="padding-left: 24%;">Citizen ID: </span>
    <span class="text-of-topic" style="padding-left: 8%;">
      {{ users.idNumber }}</span
    >
  </div>
  <div class="col top3">
    <span class="topic" style="padding-left: 24%;">Date of birth: </span>
    <span class="text-of-topic" style="padding-left: 5%;">
      {{ dateofusers | date: "yyyy/MM/d" }}</span
    >
  </div>
</div>

<div class="col top3">
  <span class="topic" style="padding-left: 25%;"> Email: </span>
  <span class="text-of-topic" style="padding-left: 12%;">
    {{ users.email }}</span
  >
</div>

<div class="col top3">
  <span class="topic" style="padding-left: 25%;"> Phone number: </span>
  <span class="text-of-topic" style="padding-left: 3%;">
    {{ users.phoneNumber }}</span
  >
</div>

<div class="col top3">
  <span class="topic" style="padding-left: 25%;"> Beneficially: </span>
  <span class="text-of-topic" style="padding-left: 6%;">
    {{ users.beneficiaryName }}</span
  >
</div>

<div class="col">
  <div class="row">
    <div class="col-md-4"></div>
    <div
      class="col center1"
      style="padding-left: 8%; padding-top: 35px; padding-bottom: 30px;"
    >
      <div clas s="col-md-4"></div>
      <div class="col center1" style="padding-top: 35px; padding-bottom: 30px;">
        <button
          (click)="onSave()"
          [routerLink]="'/termsandconditions'"
          type="payment"
          class="btn btn-primary"
        >
          Payment
        </button>
      </div>
    </div>
  </div>
</div>
