.image-fluid {
  height: 40px;
}
.center {
  margin: auto;
  /* width: 50%; */

  /* background-color: rgb(36, 71, 145); */
}
.top1 {
  padding-top: 15px;
}
.card-text {
  font-size: 20px;
  font-weight: 400;
}
.card-text1 {
  font-size: 17px;
  font-weight: 200;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.center1 {
  margin: auto;
}
.btn {
  width: 30%;
  height: 30%;
}
.top3 {
  padding-top: 30px;
}
.color {
  border: 2px solid rgb(36, 71, 145);
}
.down {
  padding-bottom: 15px;
}
.topic {
  font-size: 17px;
  font-weight: 450;
  text-align: center;
}
.text-of-topic {
  color: rgb(36, 71, 145);
  font-size: 17px;
}
.pad-left-10 {
  padding-left: 10px;
}

.pad-left-30 {
  padding-left: 25%;
}
