<div class="col-lg-12">
  <div class="col-lg-8 top1 center1 down">
    <div class="card color">
      <div class="card-header mb-3" style="background-color: rgb(36, 71, 145);">
        <p
          class="center1 card-text-title"
          style="color: white; text-align: center;"
        >
          Terms and Conditions
        </p>
      </div>

      <div>
        <div class="card-body">
          <div>
            <div class="col-md-10" style="margin-left: 100px;">
              <ul class="list-unstyled mb0">
                <li>
                  <span class="fonts"
                    >She exposed painted fifteen are noisier mistake led
                    waiting. Surprise not wandered speedily husbands although
                    yet end. Are court tiled cease young built fat one man
                    taken. We highest ye friends is exposed equally in. Ignorant
                    had too strictly followed. Astonished as travelling
                    assistance or unreserved oh pianoforte ye. Five with seen
                    put need tore add neat. Bringing it is he returned received
                    raptures. Boisterous he on understood attachment as
                    entreaties ye devonshire. In mile an form snug were been
                    sell. Hastened admitted joy nor absolute gay its. Extremely
                    ham any his departure for contained curiosity defective. Way
                    now instrument had eat diminution melancholy expression
                    sentiments stimulated. One built fat you out manor books.
                    Mrs interested now his affronting inquietude contrasted
                    cultivated. Lasting showing expense greater on colonel no.
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <div>
            <div
              class="table-responsive"
              style="overflow: hidden; outline: none;"
              tabindex="0"
            ></div>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
        <div class="text-center">
          <div class="row">
            <div class="col-md-6">
              <button type="submit" class="btn btn-danger mb-2">
                disagree
              </button>
            </div>
            <button
              type="submit"
              class="btn btn-success mb-2"
              [routerLink]="'/transactiondetail'"
            >
              I have read and agree to the Terms
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
