<div class="col-lg-12">
  <div class="col-lg-8 top1 center1 down">
    <div class="card color">
      <div class="card-header mb-3" style="background-color: rgb(36, 71, 145);">
        <p
          class="center1 card-text-title"
          style="color: white; text-align: center;"
        >
          Terms and Conditions
        </p>
      </div>

      <div>
        <div class="card-body">
          <div>
            <div class="col-md-10" style="margin-left: 100px;">
              <ul class="list-unstyled mb0">
                <li>
                  <span class="fonts"
                    >Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nam aliquam efficitur sem, nec viverra turpis luctus quis.
                    Aliquam egestas in mi sed faucibus. Quisque urna ligula,
                    convallis quis tempus non, convallis in libero. Curabitur
                    fringilla ac metus nec commodo. Mauris vulputate augue ac
                    diam eleifend, sit amet ultrices nunc semper. Sed eget
                    consequat elit, eu rutrum dui. Fusce finibus non quam
                    fringilla venenatis.
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <div>
            <div
              class="table-responsive"
              style="overflow: hidden; outline: none;"
              tabindex="0"
            ></div>
          </div>
          <div class="text-center">
            <div class="row">
              <div class="col-md-6">
                <button type="submit" class="btn btn-danger mb-2">
                  Disagree
                </button>
              </div>
              <button
                type="submit"
                class="btn btn-success mb-2"
                [routerLink]="'/transactiondetail'"
              >
                I have read and agree
              </button>
            </div>
          </div>

          <!-- <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
