<div class="d-flex flex-row">
  <div class="p-2 flex-grow-1 bd-highlight">
    <h1 style="font-family:'Courier New'; font-size: 30px; " class="p-4">Choose Your package</h1>
    <mat-card class="col-md-9 p-0  mb-3 country" *ngFor="let i of cap">
      <mat-card-header class="HeadCountry w-100">
      </mat-card-header>
      <span class="p-5 matCountry d-flex flex justify-content-center align-items-center" (click)="packageDetail()">
        {{i.name}} <img class="ml-5 " style="height: 30px; "
          src="https://www.flaticon.com/premium-icon/icons/svg/792/792715.svg" alt="">
      </span>
    </mat-card>
  </div>

<!-- *ngIf="status" -->
<!-- <div class="vl">grgr</div> -->
  <div class="p-2 bd-highlight">
    <!-- <div class="vl"></div> -->
    <h1>Package</h1>
    <!-- <div class="row"></div> -->
    <table class='table t'>
      <thead>
        <tr>
          <th>
            Benefit
          </th>
          <th>
            Detail
          </th>
        </tr>
      </thead>
      <tbody >
        <tr>
          <td class="test">
            gklr
          </td>
          <th>
            gklrgge
          </th>
        </tr>
        <tr>
          <th>
            g
          </th>
          <th>
            re
          </th>

        </tr>
      </tbody>
    </table>
  </div>
</div>

<div>
  <form class="container" [formGroup]="date" (ngSubmit)="saveDate()">
    <mat-form-field appearance="fill">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date" formControlName="startDate">
        <input matEndDate placeholder="End date" formControlName="endDate">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <button type="submit">click</button>
  </form>
</div>