

<div class="container flex d-flex-column mainCountryCalendar">

  <div class="d-flex flex justify-content-around mainCountryPackage ">

    <div class=" countryCard ">
      <div class="flex d-flex-column ">
        <h1  class="p-4">Choose Destination</h1>

        <mat-card class=" p-0  mb-3 country " *ngFor="let i of cap, let k = index "  [class.selected]="i.status" >
          <mat-card-header class="headCountry ">
          </mat-card-header>
          <span class="matCountry d-flex flex  align-items-center " (click)="packageDetail(i.countryCode) ">
            {{i.countryName}} <img class="ml-5 " style="height: 30px; "
              [src]="i.imgUrl" alt="">
          </span>
        </mat-card>
      </div>

      <form [formGroup]="date" (ngSubmit)="saveDate() " >
        <div class="calendar">
          
          <mat-form-field class="startdate mr-3 "> 
            <input matInput   [min]="minDate" [max]="maxDate" formControlName="startDate" [formControl]="" [matDatepicker]="picker1" placeholder="Departure date">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1 startView="year" [startAt]="minDate"></mat-datepicker>
          </mat-form-field>
          
          <mat-form-field class=" enddate ml-3"> 
            <input matInput [min]="minDate" [max]="maxDate" formControlName="endDate" [formControl]="" [matDatepicker]="picker2" placeholder="Arrival date">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker  #picker2 startView="year" [startAt]="minDate"></mat-datepicker>
          </mat-form-field>
        <!-- <button  type="submit" class="btn">Submit</button> -->
        </div>
        <button [disabled]="!f.startDate.invalid" [routerLink]="['/userdetail']" type="submit" class="btn mt-7">Next</button>

        <!-- <button type="submit" class="btn">Submit</button> -->

      </form>


    </div>

    <div class="p-2 bd-highlight package "*ngIf="status" >
      <!-- <div class="vl"></div> -->
      <h1>Package</h1>
      <!-- <div class="row"></div> -->
      <table class='table t  '>
        <thead>
          <tr>
            <th>
              Benifits
            </th>
            <th>
              Price(THB)
            </th>
          </tr>
        </thead>
        <tbody *ngFor="let p of pk; let i= index">
          <tr>
            <td class="test">
              {{p.insurancePackageList[i]}}
            </td>
            <th class="tablePrice">
              <div class="flex d-flex justify-content-end">
                {{p.detail_price|number : '2.2-2'}}

              </div>
            </th>
          </tr>

        </tbody>
      </table>
    </div>

</div>

