<div class="mb-4">
  <mat-toolbar color="primary">
    <img class="image-fluid avatar rounded-circle mr-3" src="https://media-exp1.licdn.com/dms/image/C4D0BAQE-XgahWM935g/company-logo_200_200/0?e=2159024400&v=beta&t=WQSeVBFbAE50gt-iLQp2n2WNGwPCZtmsnUuXaxosvlE" alt="">
    <span>Allianz Insurance</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
</div>
<h1 style="font-family:'Courier New'; font-size: 30px; " class="p-4">Choose Your package</h1>

<div class="d-flex flex-row">

<div class="d-flex flex-row CountryCard ">
<div class="row  ">
  <mat-card class="col-md-9 p-0  mb-3 country container" *ngFor="let i of cap">
    <mat-card-header class="HeadCountry w-100">
    </mat-card-header>
    <span class="p-5 matCountry d-flex flex justify-content-center align-items-center" (click)="packageDetail()">
      {{i.name}} <img class="ml-5 " style="height: 30px; "
        src="https://www.flaticon.com/premium-icon/icons/svg/792/792715.svg" alt="">
    </span>
  </mat-card>
</div>

</div >

<!-- *ngIf="status" -->
<!-- <div class="vl">grgr</div> -->
  <div class="p-2 bd-highlight ">
    <!-- <div class="vl"></div> -->
    <h1>Package</h1>
    <!-- <div class="row"></div> -->
    <table class='table t'>
      <thead>
        <tr>
          <th>
            EN
          </th>
          <th>
            Price(THB)
          </th>
        </tr>
      </thead>
      <tbody *ngFor="let p of pk">
        <tr>
          <td class="test">
            {{ p.detail_a }}
          </td>
          <th>
            {{ p.detail_a_price}}
          </th>
        </tr>
        <tr>
          <td class="test">
            {{ p.detail_b }}
          </td>
          <th>
            {{ p.detail_b_price}}
          </th>
          
        </tr>
        <tr>
          <td class="test">
            {{ p.detail_c }}
          </td>
          <th>
            {{ p.detail_c_price}}
          </th>
          
        </tr>
        <tr>
          <td class="test">
            {{ p.detail_d }}
          </td>
          <th>
            {{ p.detail_d_price}}
          </th>
         
        </tr>
        <tr>
          <td class="test">
            {{ p.detail_e }}
          </td>
          <th>
            {{ p.detail_e_price}}
          </th>
         
        </tr>
        <tr>
          <td class="test">
            {{ p.detail_f }}
          </td>
          <th>
            {{ p.detail_f_price}}
          </th>
         
        </tr>
        <tr>
          <td class="test">
            {{ p.detail_g }}
          </td>
          <th>
            {{ p.detail_g_price}}
          </th>
         
        </tr>
        <tr>
          <td class="test">
            {{ p.detail_h }}
          </td>
          <th>
            {{ p.detail_h_price}}
          </th>
         
        </tr>
        <tr>
          <td class="test">
            {{ p.detail_i }}
          </td>
          <th>
            {{ p.detail_i_price}}
          </th>
         
        </tr>
        <tr>
          <td class="test">
            {{ p.detail_j }}
          </td>
          <th>
            {{ p.detail_j_price}}
          </th>
         
        </tr>
        <tr>
          <td class="test">
            {{ p.detail_k }}
          </td>
          <th>
            {{ p.detail_k_price}}
          </th>
         
        </tr>
        <tr>
          <td class="test">
            {{ p.detail_l }}
          </td>
          <th>
            {{ p.detail_l_price}}
          </th>
         
        </tr>
        <tr>
          <td class="test">
            {{ p.detail_m }}
          </td>
          <th>
            {{ p.detail_m_price}}
          </th>
         
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div class="carlendar">
  <form class="container" [formGroup]="date" (ngSubmit)="saveDate()">
    <mat-form-field appearance="fill">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date" formControlName="startDate">
        <input matEndDate placeholder="End date" formControlName="endDate">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <button type="submit">click</button>
  </form>
</div>