.container{
    max-width: 900px;
    /* margin-left: 40px; */
}

.container h1{
  font-family:'Courier New';
  font-size: 30px;

}
.mainCountryCalendar{
    justify-content: space-around;
}
.country{
    /* border: solid; */
    /* padding: 40px; */
    background-color: rgb(227, 233, 241);
    box-shadow: 0 8px 16px 0
      rgb(33, 83, 190) ;
      }
.calendar{
    /* margin-top: 50px; */
    /* position: absolute; */

    position: absolute;
    padding: 0px;
    margin-top: 20px;
    justify-content:space-between;
}
.container button{
    border: none;
    /* margin-left: 15px; */
    font-family: 'Courier New';
    border-radius:25px;
    text-transform: capitalize;
    background-color:     rgb(33, 83, 190) ; 
    color: white;
    outline: none;
    font-size: 20px;
    /* padding-top: 0px; */
    margin : 100px 0px;
    margin-left: 150px;
    width: 100px;
    height: 50px;
    padding: 0px; 
}
/* .calendar button :focus{
  outline: none ;
  border: none ;
  cursor: none;
} */
.matCountry{
    margin-bottom: 15px;
    font-size: 30px;
    font-family: 'Courier New';
    justify-content: space-between;
    padding: 30px 12px;
}
.country:hover{
    cursor: pointer;
}

.country.selected{
    background-color: rgb(169, 196, 108);
    box-shadow: 0 8px 16px 0
      rgb(0, 0, 0) ;
}

.headCountry{
    /* bottom: 40px; */
    padding: 0;
    position: relative;
    background:  linear-gradient(to right,rgb(33, 83, 190),rgb(124, 156, 231));
     /* rgb(33, 83, 190) ; */
    overflow:auto;
    margin:auto;
    height:10px;

}
::ng-deep .mat-datepicker-toggle{
    color:rgb(33, 83, 190);
    outline: none;
    border: none;
 }
 ::ng-deep .mat-datepicker-toggle :focus{
    outline: none;
 }
.vl{
    border-left: 1px solid;
    margin-left: 300px;
    position: absolute;
    height: 500px;
}

.premium{
    height: 200px;
    width: 200px;
}
.image-fluid{
    height: 40px;
}
.package{
    margin-top: 20px;
    margin-left: 150px;
}
@media(max-width:600px){
    .mainCountryPackage{
        flex-direction: column;
        display: flex;
    }
    .calendar{
        position: static;
        flex-direction: column;
        display: flex;
    }
    .calendar button{
        margin: 0;
    }
    .matCountry{
        font-size: 20px;
    }
    .package{
        margin: 20px auto;
    }
.tablePrice{
    margin-left: 300px;
    /* justify-content: end;
    display: flex;
    flex-direction: row; */
}
}